

.big {
    color: blue;
}

#b325, .b326 {
    border: solid 1px green;
}

#b325, .b326, .b329 {
    font-weight: bold;
}    

p.asteroid.big {
    background-color: yellow;
}

/* Pseudo selectoros gyakorlás */

.boxcoloumn:first-child {
    border-top: none;
}

.boxcoloumn {
    border: 2px solid darkred;
    border-bottom: none;
    

}

.boxes {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.boxcoloumn:hover {
    background-color: orange;
}

h1.pszeu {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row1 {
    display: flex;
    justify-content: space-between;
    border: 2px solid brown;
    padding: 10px;
    width: 550px;

}

.row2 {
    display: flex;
    background-color: orangered;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid brown;
    width: 550px;
}

.rbox1 {
    height: 30px;
    width: 30px;
    background-color: rgba(56, 56, 245, 0.842);
    list-style-type: none;
    margin:10px;
}

.rbox2 {
    height: 30px;
    width: 30px;
    background-color: rgb(153, 15, 196);
    list-style-type: none;
    margin:10px;
}

.gfa {
    color: green;
    font-weight: bolder;
}

.kep {
    background-image: url('ImgViwer/images/polynesia-3021072_1280.jpg');
    background-size:cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 150px;
    height: 50px;
    text-align: center;
}

.keplink {
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}

.kep:hover {
    background-image: url('ImgViwer/images/huzsi-a-rogbi-kiraly.jpg');
    border: solid 3px black;
}